<div class="load background-primary centered bordered">
    

    <!-- Build an ngFor to loop over the save files that user has saved and display buttons for all of them. -->
    <div *ngFor="let save of userSaveFiles; index as i;">
        <app-game-button></app-game-button>
    </div>
    <button  ng (click)="loadSaveFile()"  class="loadButton">Load Game</button>

    <!-- build a loading bar? --><div *ngIf="Loading" class="background-primary centered mini"> ... </div>

    <!-- make this nav link an ngIf to ensure all pieces are loaded first -->
    <a  *ngIf="character && location" class="nav-link" ria-current="Dragon's Tail Game" routerLink="/game"
    >Start Game</a>
</div>