<div class="characterInfo">
  <h3> {{character.name}}</h3>
  <li>HP: {{character.currentHP}}/{{character.maxHP}}</li>
  <li>MP: {{character.currentMP}}/{{character.maxMP}}</li>
  <li>Essence: {{character.currentCurrency}}</li>
  <ul>
      <li>Strength {{character.strength}}</li>
      <li>Dexterity: {{character.dexterity}}</li>
      <li>Constitution: {{character.constitution}}</li>
      <li>Intelligence: {{character.intelligence}}</li>
      <li>Armor: {{character.armor}}</li>
      <li>Resistance: {{character.resistance}}</li>
      <li>Attack: {{ character.damageValue }}</li>
      <li>armorValue: {{ character.armorValue }}</li>
      <li>evade: {{ character.evadePercentage }}</li>

  </ul>
</div>