<div class="characterInfo">
  <h3> {{character.name}}</h3>
  <li>HP: {{character.currentHP}}/{{character.maxHP}}</li>
  <li>MP: {{character.currentMP}}/{{character.maxMP}}</li>
  <li>Essence: {{character.currentCurrency}}</li>
  <ul>
    <li>Strength {{character.strength}}</li>
    <li>Dexterity: {{character.dexterity}}</li>
    <li>Constitution: {{character.constitution}}</li>
    <li>Intelligence: {{character.intelligence}}</li>
  </ul>
  <ul>


    <li>Damage: {{character.damageValue }}</li>
    <li>Armor: {{character.armorValue }}</li>
    <li>Resistance: {{character.resistance}}</li>
    <!-- <li>Evasion: {{ character.evadePercentage }}</li>
      <li>Defending: {{ character.positiveStatusFlags["defending"].active }}</li>
      <li>Defending: {{ character.positiveStatusFlags["defending"].rounds }}</li>
      <li>Evading: {{ character.positiveStatusFlags["evading"].active }}</li>
      <li>Evading: {{ character.positiveStatusFlags["evading"].rounds }}</li>
      <li>Focusing: {{ character.positiveStatusFlags["focusing"].active }}</li>
      <li>Focusing: {{ character.positiveStatusFlags["focusing"].rounds }}</li>
      <li>Streng: {{ character.positiveStatusFlags["strengthened"].active }}</li>
      <li>Streng: {{ character.positiveStatusFlags["strengthened"].rounds }}</li> -->

  </ul>
</div>