<div class="combatDisplay">
  <div class="NPCStatBar">
    <div class="name">{{combatant.name}}</div>
    <div class="stats">{{combatant.currentHP}}/{{combatant.maxHP}}</div>
    <div class="conditions"></div>
  </div>
  <div class="combatMessage" *ngIf="messageService.combatMessages.length">

    <!-- <h2 class="message-content">Messages</h2> -->
    <button type="button" class="clear"
    (click)="messageService.clear(true)">Clear messages</button>
    <div class="message-content" *ngFor='let message of messageService.combatMessages'> {{message}} </div>
    
  </div>
   <app-game-button *ngIf="battleNotDone == false" type="button" class="clear"
    (click)="endCombat()" [text]="battleEndText"></app-game-button>

    <!-- Make a button here for abilities that has a z index of 1 and is attached to the end -->
    <div *ngFor="ability of abilitiesArray; index as i">

      <app-game-button text="{{abilitiesArray[i].name}}" (click)="useAbility(abilitiesArray[i])"></app-game-button>
    </div>
  
</div>