<div class="backpack">
  <h3>Equipped items</h3>
  <li class="equipment">Head: {{character[0].equippedItems.head?.name}}</li>
  <li class="equipment">Body: {{character[0].equippedItems.body?.name}}</li>
  <li class="equipment">Hand: {{character[0].equippedItems.hand?.name}}</li>
  <h3>Backpack</h3>
  <li *ngFor="let item of items" class="equipment">
    {{item.name}}
  </li>
<!-- {{oneItem.name}} -->
 <!-- <div *ngFor="let item of items | keyvalue">
  Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b>
  <div *ngFor="let piece of item |keyvalue">
    piecekey: <b>{{piece.key}}</b> and pieceValue: <b>{{piece.value}}</b>
  </div> -->
<!-- </div> -->
</div>













<!-- <h2>My Locations</h2>
<ul class="locations">
  <li *ngFor="let location of locations">
    <button type="button" (click)="onSelect(location)">
      <span class="badge">{{location.id}}</span>
      <span class="name">{{location.name}}</span>
    </button>
  </li>
</ul> -->