<div class="backpack">
  <div class="invisEquip">

  </div>
  <h3>Equipped items</h3>
  <li class="equipment">Head: {{character.equippedItems.head?.name}}</li>
  <li class="equipment">Body: {{character.equippedItems.body?.name}}</li>
  <li class="equipment">Hand: {{character.equippedItems.hand?.name}}</li>
  <h3>Backpack</h3>
  <li *ngFor="let item of character.bag; index as i;" class="equipment">
    <button class="backpackItem" type="button" (click)="onSelect(item, i)">{{item.name}}</button>
  </li>
  <div class="singleItemDisplay" *ngIf="selectedItem">
    <h4>{{selectedItem.name | uppercase}} Details</h4>
    <div> <p class="itemText">{{ selectedItemUse }}: {{selectedItem.itemStat}}</p>  <p class="itemText"> Price: {{selectedItem.price}} </p> </div>
    <div></div>
    <div>{{selectedItem.description}}</div>
    <div>
      <button class="useItem" type="button" (click)="onItemUse(useItem, selectedItem)">{{useItem}}</button>
    </div>
  </div>
</div>













<!-- <h2>My Locations</h2>
<ul class="locations">
  <li *ngFor="let location of locations">
    <button type="button" (click)="onSelect(location)">
      <span class="badge">{{location.id}}</span>
      <span class="name">{{location.name}}</span>
    </button>
  </li>
</ul> -->