span {
    padding:5px;
    color:blue;
    background-color: black;
}

.backpack {
    background-color: darkgray;
    border-right: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 600px;
    margin: 20px;
}

h3 {
    background-color: darkgray;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 10px;
}
h4 {
    background-color: darkgray;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
}

p {
    background-color: darkgray;
}

li {
    background-color: darkgray;
    list-style: none;
    border-radius: 5px;
}

ul {
    padding-inline-start: 0;
}

.equipment:hover {
    background-color: lightgray;
    cursor: pointer;
}

.backpackItem {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.singleItemDisplay {
    background-color: darkgray;
    border: 1px solid white;
    border-radius: 10px;
    position: fixed;
    top: 2vh;
    /* right: 1vw; */
    padding: 5px;
}

.singleItemDisplay h4 {
    background-color: darkgray;
    margin: 0;
}
.singleItemDisplay div {
    background-color: darkgray;
}
.singleItemDisplay label {
    background-color: darkgray;
}
.singleItemDisplay input {
    background-color: darkgray;
}

.itemText {
    display: inline;
    margin-right: 5rem;
}

button {
    padding: 10px 40px;
    margin: 0px 5px;
    margin-inline: auto;
    display: block;
}