<div class="textDisplay background-primary bordered">
    <div class="flex flex-space">
        <div class="shopTitle">

            {{display}} 
        </div>
        <div class="goldDisplay">
            |{{character.currentCurrency}}
        </div>
    </div>
        
    <div class="flex flex-co" *ngIf="items && !selectedItem">
        <app-game-button *ngFor="let item of items; index as i;"[item]="item" (click)="onSelect(item)"></app-game-button>
        <!-- <button class=" selection" *ngFor="let item of items; index as i;"
        type="button" >
            {{item.name}} : {{item.price}}gp
        </button> -->
    </div>
    <div *ngIf="selectedItem">
        <app-selected-item [location]="location" [character]="character" [selectedItem]="selectedItem"
        (selectedItemReset)="resetSelectedItem()"
        (chosenItem)="buyItem()"></app-selected-item>
        <!-- <h2 class="itemTitle">{{selectedItem.name}}</h2>
        {{selectedItem.price}}gp 
        {{selectedItem.description}} 

        <div class="flex flex-end">

            <button class="toolTipButton" (click)="onSelect(selectedItem)">Back</button>
            <button class="toolTipButton"  (click)="buyItem(selectedItem)">Buy</button>
            [disabled]="character.currentCurrency<selectedItem.price" -->
        <!-- </div> -->
    </div>
</div>