.textDisplay {
    width: clamp(23rem, 50vw, 70rem);
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 0;
}

.background-primary {
    background-color: darkgray;
    
}

.bordered {
    border: 2px solid white;

}

