<div class="characterInfo">
  <h3> {{character[0].name}}</h3>
  <li>HP: {{character[0].current_hp}}/{{character[0].hp}}</li>
  <li>MP: {{character[0].current_mp}}/{{character[0].max_mp}}</li>
  <ul>
      <li>Strength {{character[0].strength}}</li>
      <li>Dexterity: {{character[0].dexterity}}</li>
      <li>Constitution: {{character[0].constitution}}</li>
      <li>Intelligence: {{character[0].intelligence}}</li>
      <li>Armor: {{character[0].armor}}</li>
      <li>Resistance: {{character[0].resistance}}</li>
      <li></li>
  </ul>
</div>
