.characterInfo {
    background-color: darkgray;
    border-right: 2px solid white;
    border-left: 2px solid white;

    border-radius: 10px;
    padding: 20px;
    width: clamp(5rem, 12.75rem, 18.75rem);
    height: clamp(fit-content, 23rem, 600px);
}

h3 {
    background-color: darkgray;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
}

p {
    background-color: darkgray;
}

li {
    background-color: darkgray;
    list-style: none;
}

ul {
    padding-inline-start: 0;
}

