<div class="characterInfo">
  <h3> {{character.name}}</h3>
  <li>HP: {{character.currentHP}}/{{character.maxHP}}</li>
  <li>MP: {{character.currentMP}}/{{character.maxMP}}</li>
  <ul>
      <li>Strength {{character.strength}}</li>
      <li>Dexterity: {{character.dexterity}}</li>
      <li>Constitution: {{character.constitution}}</li>
      <li>Intelligence: {{character.intelligence}}</li>
      <li>Armor: {{character.armor}}</li>
      <li>Resistance: {{character.resistance}}</li>
      <li></li>
  </ul>
</div>
