<div class="textDisplay">
    <!-- <div *ngIf="location.id!=SG">

        {{location.enterText}}
    </div> -->


    <div *ngIf="!selectedTemplate">

        <div *ngIf="explorationService.exploring==0">

            {{location.enterText}}
            still first - {{explorationService.exploring}}
            <app-game-button *ngIf="location.id==SG" (click)="incrementState()" [text]="placement"></app-game-button>
        </div>
        <div *ngIf="explorationService.exploring==1">

            {{location.middleText}}
            We in the middle - {{explorationService.exploring}}

            <div *ngIf="templates">
                <div *ngFor="let template of templates">
                    <app-game-button *ngIf="location.id==SG" [text]="template.job" class="template" (click)="onSelect(template)"></app-game-button>
                </div>
            </div>
        </div>
        <div *ngIf="explorationService.exploring==2">
            
            {{location.exitText}}

            ends - {{explorationService.exploring}}
            <app-game-button *ngIf="location.id==SG" (click)="incrementState()" [text]="placement"></app-game-button>
            <!-- <app-game-button *ngIf="location.id!=SG" (click)="incrementState()" [text]="placement"></app-game-button> -->
        </div>
    </div>

    <div *ngIf="selectedTemplate">

        <h3>{{selectedTemplate.name}}</h3>
        <h4>Job: {{selectedTemplate.job}}</h4>
        <p>Strengths:</p>
        <p>{{selectedTemplate.description}}</p>


        <p>Perks: (Not available)</p>
        <app-game-button (click)="onSelect(selectedTemplate)" text="Back"></app-game-button>
        <app-game-button (click)="chooseCharacter(selectedTemplate)"></app-game-button>
    </div>
    
</div>