<h1 class="title">{{title}}</h1>

<div class="container">
    <div class="blurb">
    <p>Stuff about me that seems important ish or whatever. 
         I did many things, I have skills and I'm 
        awesome so hire me or talk to me and let's see 
        if we can collaborate.</p></div>
    <a class="headline" href="https://github.com/Nephilus-notes">My Github</a>

    <div class="flex">
        <div class="left card">
            Description of the project

        </div>
        <div class="right card">
            <a href="https://github.com/Nephilus-notes/Raindish">Raindish Song Collaboration Site</a>
        </div>
    </div>

    <div class="flex">
        <div class="left card">Description of the project</div>
        <div class="right card">
            <a href="https://github.com/Nephilus-notes/poke-quiz">Reactive Pokemon Quiz </a>

        </div>
    </div>

    <div class="flex">
        <div class="left card">The Dragon's Tail is a game about one young goblin's 
            quest to claim their place as an adult by defeating the Graith Trees 
            that keep the goblins living in fear underground and reuniting with their aboveground brethren.</div>
        <div class="right card">
            <a href="https://github.com/Nephilus-notes/The-Dragon-s-Tail">Dragon's Tail Retro Game</a>
        </div>
    </div>
    <!-- <app-user-profile></app-user-profile> -->

    <!-- <div *ngFor="let song of musicUrlList; index as i;"></div> -->

    <h3 class="SongTitle">Everything But Desire by Charles McCall</h3>
    <iframe class="musicFrame" frameborder="0" width="450" height="50"
    src="https://drive.google.com/file/d/1wD7Beul2z8LMgrgPnG33Ik0kuIuNKF1A/preview"></iframe>
</div>