<div *ngIf="selectedItem;">

    <h2 class="itemTitle">{{selectedItem.name}}</h2>
    <p>
        Cost: {{selectedItem.price}} Essence
    </p>
    <p *ngIf="selectedItem.id < 5">
        Damage: {{selectedItem.itemStat}}
    <p *ngIf="selectedItem.id > 4 && selectedItem.id < 9">
        Defense: {{selectedItem.itemStat}}
    <p *ngIf="selectedItem.id > 8">
        Health Restored: {{selectedItem.itemStat}}
    <p>
        {{selectedItem.description}}
    </p>

    <div class="flex flex-end">

        <button class="toolTipButton" (click)="cancel()">Back</button>
        <button class="toolTipButton" (click)="buyObject()" *ngIf="location.id=='A'||location.id=='B'">Buy</button>
        <!-- [disabled]="character.currentCurrency<selectedItem.price" -->
    </div>
</div>
<!-- <ng-template #ability>  -->
<div *ngIf="selectedAbility;">
    <h2 class="itemTitle">Name : {{selectedAbility.name}}</h2>
    <li>Essence required : {{(selectedAbility.level ? selectedAbility.level * 50 : 50)}}</li>
    <li>effect : {{selectedAbility.effect}}</li>
    <li>modifier : {{selectedAbility.modifier}}</li>
    <li>duration : {{selectedAbility.duration}}</li>
    <li>Description : {{selectedAbility.description}}</li>
    <app-game-button (click)="cancel()" text="Back"></app-game-button>
    <app-game-button (click)="buyObject()" text="Buy"></app-game-button>
</div>
<!-- </ng-template> -->