<div class="container flex flex-wrap gap-5 space-between">

    <div *ngIf="!CombatBool; else inCombat" class="flex flex-wrap gap-5 space-evenly">
        <div class="inline" *ngFor="let location of location.moveOptions; index as i;">
            <app-game-button class="inline" text="{{location.name}}" 
            (click)="changeLocation(location.id)"
            *ngIf="battleOngoing == true;"></app-game-button>
        </div>
        <app-game-button *ngIf="location.next != null && explorationService.exploring == 3" text="Hunt" (click)="goHunting()"
        class="inline"></app-game-button>
        <app-game-button *ngIf="location.next != null && location.next != 'S'" text="Explore" (click)="exploreStart()"
        class="inline"></app-game-button>
        <app-game-button *ngIf="location.next != null && location.next == 'S'" text="Shop" (click)="changeState(location.id)"
        class="inline"></app-game-button>
        
  </div>
    
    <ng-template #inCombat>
        <app-game-button *ngIf="battleOngoing == false;" type="button" class="clear"
    (click)="endCombat()" [text]="battleEndText"></app-game-button>
    
<!-- </div *ngIf="battleOngoing == true" > -->
<div class="inline space-evenly" *ngFor="let ability of character.abilities; index as i;">
        <app-game-button class="inline" text="{{ability.name}}" (click)="startRound(ability)"
        *ngIf="battleOngoing == true;"></app-game-button>
    </div>
    <!-- </div> -->
    
</ng-template>
</div>