<div class="container">

    <div *ngIf="!CombatBool; else inCombat"><form action="">
        <div class="inline" *ngFor="let location of location.moveOptions; index as i;">
            <app-game-button class="inline" text="{{location.name}}" 
            (click)="changeLocation(location.id)"
            *ngIf="battleOngoing == true;"></app-game-button>
        </div>
        <app-game-button *ngIf="location.next != null" text="Explore" (click)="changeLocation(location.next)"></app-game-button>
        
    </form></div>
    
    <ng-template #inCombat>
        <app-game-button *ngIf="battleOngoing == false;" type="button" class="clear"
    (click)="endCombat()" [text]="battleEndText"></app-game-button>
    
<!-- </div *ngIf="battleOngoing == true" > -->
<div class="inline" *ngFor="let ability of character.abilities; index as i;">
        <app-game-button class="inline" text="{{ability.name}}" (click)="startRound(ability)"
        *ngIf="battleOngoing == true;"></app-game-button>
    </div>
    <!-- </div> -->
    
</ng-template>
</div>