<h1 class="title">{{title}}</h1>

<div class="container">
    <div >
        <app-character-info [character]="character"></app-character-info>
        <!-- *ngIf="characterView" -->
        <!-- <button type="button" id="characterViewButton" (click)="characterViewSwitch()">View Character</button> -->
    </div>
    <div class="displayDiv">
    <app-text-display [location]="location"></app-text-display>
    <div class="optionsAndInput">
        
        <div class="options backgroundDark">
            <li>{{location.options}}</li>
           
        </div>
        <form action="" class="input backgroundDark">
            <app-uiform (submitValue)="formData($event)" [options]="location.options"></app-uiform>
            
        </form>
    </div>

    </div>  
      <div >
        <app-backpack-display [character]="character"></app-backpack-display>
        <!-- <button type="" id="characterViewButton" (click)="characterViewSwitch()">View Backpack</button> -->
    </div>
</div>