<h1 class="title">{{title}}</h1>

<div class="container">
    <div >
        <app-character-info ></app-character-info>
        <!-- *ngIf="characterView" -->
        <!-- <button type="button" id="characterViewButton" (click)="characterViewSwitch()">View Character</button> -->
    </div>
    <div class="displayDiv">
    <div class="textDisplay backgroundDark">
        {{location.enterText}}
        
    </div>
    <div class="optionsAndInput">
        
        <div class="options backgroundDark">
            <li *ngFor="let option of location.options; index as i">
               {{option}}
            </li>
            <!-- <div *ngfor="let item of location.options; index as i; first as isFirst">
                {{i}}/{{location.options.length}}. {{item}} <span *ngIf="isFirst">default</span>
            </div> -->
        </div>
        <form action="" class="input backgroundDark">

            <input name="inputUI" class="inputUI backgroundDark" [(ngModel)]="submitString" type="text" value="">
            <input class="submitButton"  type="button" ng (click)="onSubmit(submitString)" value="Enter">
            <p class="invalidInput" *ngIf="submitString && !this.location.options.includes(submitString.toUpperCase())">Take a close look at your options</p>
        </form>
    </div>

    </div>  
      <div >
        <app-backpack-display ></app-backpack-display>
        <!-- <button type="" id="characterViewButton" (click)="characterViewSwitch()">View Backpack</button> -->
    </div>
</div>