<div class="centerDisplay bordered">
    <div class="flex flex-space">
        <div class="shopTitle">

            {{display}} 
        </div>
        <div class="goldDisplay">
            |{{character.currentCurrency}}
   
        
   
    </div>

    
</div>
<app-game-button [text]="save" class="center marginBottomTop block"></app-game-button>
<app-game-button [text]="level" class="center marginBottomTop block"></app-game-button>
<app-game-button [text]="learn" class="center marginBottomTop block"></app-game-button>
