<ng-template [ngIf]="!levelBool && !learnBool" [ngIfElse]="LevelAndLearn">
    <div class="centerDisplay bordered">
        <div class="flex flex-co">
            <div class="shopTitle">

                {{display}}
            </div>

            <app-game-button [text]="saveText" class="center marginBottomTop block"
            (click)="saveGame()"></app-game-button>
            <app-game-button [text]="levelText" class="center marginBottomTop block"
                (click)="levelClick()"></app-game-button>
            <app-game-button [text]="learnText" class="center marginBottomTop block"
                (click)="learnClick()"></app-game-button>


        </div>
    </div>
</ng-template>

<ng-template #LevelAndLearn>

    <!-- place for experience bar if multiple experience types -->
    <div *ngIf="levelBool;" class="centerDisplay bordered">
        <app-level [character]="character" [levelBool]="levelBool" (ReturnToMainInn)="backClick()"></app-level>
    </div>

    <div *ngIf="learnBool;" class="centerDisplay bordered">
        trying to learn

    </div>

</ng-template>