<ng-template [ngIf]="!levelBool && !learnBool" [ngIfElse]="LevelAndLearn">
    <div class="centerDisplay bordered">
        <div class="flex flex-co">
            <div class="shopTitle">

                {{location.middleText}}
            </div>

            <app-game-button [text]="saveText" class="center marginBottomTop block"
                (click)="saveGame()"></app-game-button>
            <app-game-button text="Heal" class="center marginBottomTop block"
                (click)="healCharacter()"></app-game-button>
            <app-game-button [text]="levelText" class="center marginBottomTop block"
                (click)="levelClick()"></app-game-button>
            <app-game-button [text]="learnText" class="center marginBottomTop block"
                (click)="learnClick()"></app-game-button>


        </div>
    </div>
</ng-template>

<ng-template #LevelAndLearn>

    <!-- place for experience bar if multiple experience types -->
    <div *ngIf="levelBool;" class="centerDisplay bordered">
        <app-level [character]="character" [levelBool]="levelBool" (ReturnToMainInn)="backClick()"></app-level>
    </div>

    <div *ngIf="learnBool;" class="centerDisplay bordered">
        
        <div class="flex flex-co" *ngIf="possibleAbilities && !selectedAbility">
            <p>Abilities</p>
            <div *ngFor="let ability of possibleAbilities; index as i;">
                <app-game-button text="{{ability.name}}" (click)="onSelect(ability)"></app-game-button>
                <hr />
            </div>
        </div>
<div *ngIf="possibleAbilities.length == 0">
            You have no more abilities to learn
        </div>

        <div *ngIf="selectedAbility">
            <app-selected-item [location]="location" [character]="character" [selectedAbility]="selectedAbility"
                (selectedObjectReset)="resetSelectedObject()" (chosenObject)="buyObject()"></app-selected-item>

        </div>
    </div>

</ng-template>