<h1 class="title">{{title}}</h1>

<div class="container">
    <div class="flex">
        <div class="right"></div>
        <div class="left">
            <a href="https://github.com/Nephilus-notes/Raindish">Raindish Song Collaboration ite</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="flex">
        <div class="right"></div>
        <div class="left">
            <a href="https://github.com/Nephilus-notes/poke-quiz">Reactive Pokemon Quiz </a>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="flex">
        <div class="right"></div>
        <div class="left">
            <a href="https://github.com/Nephilus-notes/The-Dragon-s-Tail">Dragon's Tail Retro Game</a>
        </div>
    </div>
</div>
