<h1 class="title">{{title}}</h1>

<div class="container">
    <div class="card">
    <p>Stuff about me that seems important ish or whatever. 
         I did many things, I have skills and I'm 
        awesome so hire me or talk to me and let's see 
        if we can collaborate.</p></div>
    <a class="headline" href="https://github.com/Nephilus-notes">My Github</a>

    <div class="flex">
        <div class="left">
            Description of the project

        </div>
        <div class="right">
            <a href="https://github.com/Nephilus-notes/Raindish">Raindish Song Collaboration ite</a>
        </div>
    </div>

    <div class="flex">
        <div class="left">Description of the project</div>
        <div class="right">
            <a href="https://github.com/Nephilus-notes/poke-quiz">Reactive Pokemon Quiz </a>

        </div>
    </div>

    <div class="flex">
        <div class="left">Description of the project</div>
        <div class="right">
            <a href="https://github.com/Nephilus-notes/The-Dragon-s-Tail">Dragon's Tail Retro Game</a>
        </div>
    </div>
</div>