<div>Essence Held: {{ character.currentCurrency}}</div>
<div class="flex flexWrap">
    <ng-template ngFor let-attribute [ngForOf]="Attributes" let-i="index">
        <div class="wide">
            <label class="stats flex flex-center">{{attributeNames[i]}}: {{statPricer(attribute, character.level)}}</label>
            <div class="stats flex flex-center ">
                <app-game-button [text]="minus" (click)="decrementStat(i)"></app-game-button>
                {{attribute}}
                <app-game-button [text]="plus" (click)="incrementStat(i)"></app-game-button>
            </div>
        </div>
    </ng-template>

</div>

<app-game-button [text]="back" (click)="returnToInn()"></app-game-button>
<app-game-button [text]="saveChanges" (click)="saveStats()"></app-game-button>